:host {
  display: block;
  height: 100%;
  padding: 2rem;
  background-color: var(--background-primary-color);
  box-sizing: border-box;
}

.dashboard-content {
  max-width: 800px;
  margin: 0 auto;
}

.upload-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.header {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &__title {
    display: flex;
    flex-direction: column;
  }

  h1 {
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  p {
    color: var(--secondary-text-color);
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }
}

.dashboard-file-list {
  height: calc(100vh - 250px);
  display: block;
}

csv-file-card {
  display: block;
  box-sizing: border-box;
  cursor: pointer;
}
