:host {
  display: block;
  min-height: 100vh;
  padding: 2rem;
  background-color: var(--background-color);
}

.dashboard-content {
  max-width: 800px;
  margin: 0 auto;
}

.header {
  text-align: center;
  margin-bottom: 3rem;

  h1 {
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  p {
    color: var(--secondary-text-color);
    font-size: 1.1rem;
  }
}
