<div class="dashboard-content">
  @if (files().length === 0) {
    <div class="upload-header">
      <h1>CSV Dataset Upload</h1>
      <p>Upload your data to start analyzing and visualizing.</p>
    </div>

    <csv-upload-file />
  } @else {
    <div class="header">
      <div class="header__title">
        <h1>Your Files</h1>
        <p>Select a file to analyze and visualize.</p>
      </div>

      <csv-upload-file-button />
    </div>

    @for (file of files(); track $index) {
      <csv-file-card [name]="file.name" [size]="file.size" (removeFile)="onRemoveFile($index)" />
    }
  }
</div>
