@font-face {
  font-family: 'fd-icons';
  src:
    url('../fonts/fd-icons.woff2') format('woff2'),
    url('../fonts/fd-icons.ttf') format('truetype'),
    url('../fonts/fd-icons.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.fd-icon {
  /* Use !important to prevent extensions from overriding this font. */
  font-family: 'fd-icons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
