:root {
  --primary-color: #2e6cbf;
  --secondary-color: #4c7ab8;
  --tertiary-color: rgb(125, 165, 218);

  --primary-text-color: #1e293b;
  --secondary-text-color: #64748b;

  --contrast-text-color: #fff;

  --background-primary-color: #f3f4f8;
  --background-secondary-color: #fff;
  --background-tertiary-color: #f9fafb;
  --border-color: #e2e8f0;
}
