.data-layout {
  $details-margin-left: 1rem;
  $details-font-size: 0.8rem;

  &__header {
    display: flex;
    background-color: var(--background-secondary-color);
    padding: 1rem;
  }

  &__header-icon {
    color: var(--primary-color);
    font-size: 1.5rem;
  }

  &__header-content {
    flex: 1;
  }

  &__header-title {
    font-size: 1rem;
    font-weight: bold;
    margin-left: $details-margin-left;
  }

  &__header-description {
    font-size: 1rem;
    margin-left: $details-margin-left;
    margin-bottom: 1rem;
    color: var(--secondary-text-color);
    font-style: italic;
  }

  &__header-divider {
    border: 0;
    border-top: 1px solid var(--border-color);
  }

  &__content {
    display: flex;
    gap: 1rem;
    margin-left: $details-margin-left;
  }
}
