.data-layout {
  $details-margin-left: 1rem;
  $details-font-size: 0.8rem;

  display: flex;
  padding: 1rem;
  height: 100%;
  overflow-x: hidden;

  &__header-icon {
    color: var(--primary-color);
    font-size: 1.5rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
  }

  &__content-title {
    font-size: 1rem;
    font-weight: bold;
    margin-left: $details-margin-left;
  }

  &__content-description {
    font-size: 1rem;
    margin-left: $details-margin-left;
    margin-bottom: 1rem;
    color: var(--secondary-text-color);
    font-style: italic;
  }

  &__content-divider {
    border: 0;
    border-top: 1px solid var(--border-color);
  }

  &__content-body {
    margin-left: $details-margin-left;
    flex: 1;
  }
}
