.primary-button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: var(--primary-color);
  color: var(--secondary-text-color);
  border-radius: 4px;
  border: none;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: var(--secondary-color);
  }

  &:active {
    background-color: var(--tertiary-color);
  }
}
