.primary-button {
  display: inline-block;
  padding: 0.4rem 1.4rem;
  background-color: var(--primary-color);
  color: var(--contrast-text-color);
  border-radius: 4px;
  border: none;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    background-color: var(--secondary-color);
  }

  &:active {
    background-color: var(--tertiary-color);
  }

  &:disabled {
    background-color: var(--tertiary-color);
    cursor: not-allowed;
  }

  &--secondary {
    background-color: var(--background-secondary-color);
    color: var(--secondary-text-color);
    border: 1px solid var(--border-color);

    &:hover {
      background-color: var(--background-secondary-color);
    }

    &:active {
      background-color: var(--background-secondary-color);
    }

    &:disabled {
      background-color: var(--background-secondary-color);
    }
  }
}
