:host {
  display: block;
  background-color: var(--background-secondary-color);
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.file-details {
  $details-font-size: 0.8rem;

  &__file-info {
    display: flex;
    gap: 1rem;
  }

  &__file-info-labels {
    color: var(--secondary-text-color);
    font-size: $details-font-size;
  }

  &__file-info-values {
    font-size: $details-font-size;
    font-weight: bold;
  }
}
