<header class="d-flex">
  <i class="csv-icon">file-text</i>

  <!-- Breadcrumb -->
  <nav>
    <ul>
      @for (breadcrumb of breadcrumbs(); track breadcrumb.label; let last = $last) {
        <li>
          <a [routerLink]="breadcrumb.url">{{ breadcrumb.label }}</a>
        </li>
        @if (!last) {
          <span>/</span>
        }
      }
    </ul>
  </nav>

  <i class="csv-icon">bell-plus</i>

  <i class="csv-icon">wallet-cards</i>

  <i class="csv-icon">mail</i>

  <!-- User -->
  <button (click)="onUserClick()">👤</button>
</header>
