<header class="d-flex">
  <i class="fd-icon" [routerLink]="['/']">file-text</i>

  <!-- Breadcrumb -->
  <nav>
    <ul>
      @for (breadcrumb of breadcrumbs(); track breadcrumb.label; let last = $last) {
        <li>
          <a [routerLink]="breadcrumb.url">{{ breadcrumb.label }}</a>
        </li>
        @if (!last) {
          <span>/</span>
        }
      }
    </ul>
  </nav>

  @if (isAuthenticated()) {
    <fd-notification-icon [hasNotification]="false" (click)="onNotificationClick()">
      bell-plus
    </fd-notification-icon>

    <fd-notification-icon [hasNotification]="true" (click)="onNotificationClick()">
      wallet-cards
    </fd-notification-icon>

    <fd-notification-icon [hasNotification]="true" (click)="onNotificationClick()">
      mail
    </fd-notification-icon>

    <fd-user-dropdown [user]="user()!"></fd-user-dropdown>
  }
</header>
