header {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;
  gap: 1rem;

  nav {
    flex: 1;

    ul {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      color: var(--contrast-text-color);

      span {
        cursor: default;
      }
    }

    a {
      color: var(--contrast-text-color);
      text-decoration: none;
    }
  }

  .csv-icon,
  csv-notification-icon {
    font-size: 1.5rem;
    color: var(--contrast-text-color);
    cursor: pointer;
  }
}
