@if (file()) {
  <csv-file-details [file]="file()!" />

  <csv-data-layout
    [icon]="'file-preview'"
    [title]="'Preview Data'"
    [description]="'Show first 5 rows of the file.'"
  >
    <table class="file-preview__table">
      <thead>
        <tr class="file-preview__table-data-types">
          <th [attr.colspan]="2">Assign Column Types</th>
          @for (column of file()!.columnConfigs; track $index) {
            @if (column.columnName !== 'ID') {
              <th>{{ column.columnName }}</th>
            }
          }
        </tr>

        <tr class="file-preview__table-data-names">
          <th class="file-preview__table-data-row-number"></th>
          @for (column of file()!.columnConfigs; track $index) {
            @if (column.columnName === 'ID') {
              <th>ID</th>
            } @else {
              <th>{{ column.dataType | titlecase }}</th>
            }
          }
        </tr>
      </thead>

      <tbody class="file-preview__table-data-rows">
        @for (row of [1, 2, 3, 4, 5]; track $index; let index = $index) {
          <tr>
            <td class="file-preview__table-data-row-number">{{ index + 1 }}</td>
            @for (column of file()!.columnConfigs; track $index) {
              <td>{{ column.columnName }}</td>
            }
          </tr>
        }
      </tbody>

      <tfoot class="file-preview__table-data-footer">
        <tr>
          <td [attr.colspan]="file()!.columnConfigs.length + 1">
            <button class="file-preview__table-data-footer-button" (click)="loadMore()">
              Load more...
            </button>
          </td>
        </tr>
      </tfoot>
    </table>
  </csv-data-layout>
} @else {
  <p>File not found</p>
}
