<div class="signup__container">
  <h1 class="signup__title">Signup</h1>

  <form class="signup__form" [formGroup]="form" (ngSubmit)="onSubmit()">
    @let nameControl = form.get('name');
    <input csv-primary-input type="text" formControlName="name" placeholder="Name" />
    @if (nameControl?.invalid && nameControl?.touched) {
      @if (nameControl?.hasError('required')) {
        <div class="signup__error">
          <p>* Name is required</p>
        </div>
      }
    }

    @let emailControl = form.get('email');
    <input csv-primary-input type="email" formControlName="email" placeholder="Email" />
    @if (emailControl?.invalid && emailControl?.touched) {
      @if (emailControl?.hasError('required')) {
        <div class="signup__error">
          <p>* Email is required</p>
        </div>
      }
      @if (emailControl?.hasError('email')) {
        <div class="signup__error">
          <p>* Please enter a valid email address</p>
        </div>
      }
    }

    @let passwordControl = form.get('password');
    <input csv-primary-input type="password" formControlName="password" placeholder="Password" />
    @if (passwordControl?.invalid && passwordControl?.touched) {
      @if (passwordControl?.hasError('required')) {
        <div class="signup__error">
          <p>* Password is required</p>
        </div>
      }
    }

    @if (form.hasError('invalid')) {
      <div class="signup__request-error">
        <p>Email already exists. Try another one.</p>
      </div>
    }

    <button csv-primary-button type="submit" [disabled]="form.invalid">Signup</button>
  </form>

  <a class="signup__link" routerLink="/auth/login">Already have an account? Login</a>
</div>
